#pc-wrap {
	.home-page {
		position: relative;
		width: 100%;
		height: auto;
		.info-box {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			.left {
				display: flex;
				flex-direction: column;
				span {
					font-family: $fontPrimary;
					font-weight: 400;
					font-size: 50px;
					line-height: 62.5px;
					letter-spacing: 2%;
					text-align: center;
					&.white {
						color: #ffffff;
					}
				}
				p {
					color: #181a20;
					font-family: $font;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 26px;
					&.white {
						color: #ffffff;
					}
				}
			}
			.right {
				display: flex;
				flex-direction: row;
				align-items: flex-end;
				.pagination-box {
					display: flex;
					flex-direction: row;
					align-items: center;
					.swiper-pagination-bullet.swiper-pagination-bullet-active {
						background: #000000;
					}
					.swiper-trend-next {
						margin-left: 20px;
						cursor: pointer;
					}
					.swiper-trend-prev {
						margin-right: 20px;
						cursor: pointer;
					}
					.swiper-top-next {
						margin-left: 20px;
						cursor: pointer;
					}
					.swiper-top-prev {
						margin-right: 20px;
						cursor: pointer;
					}
				}
				.more-box {
					display: flex;
					flex-direction: row;
					cursor: pointer;
					align-items: center;
					span {
						color: #181a20;
						font-family: $font;
						font-size: 15px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						text-transform: capitalize;
					}
					img {
						margin-left: 10px;
						width: 16px;
						height: 16px;
					}
				}
				.btn-box {
					display: flex;
					flex-direction: row;
					button {
						border-radius: 6px;
						background: rgba(255, 255, 255, 0.07);
						color: #ffffff;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 28px;
						text-transform: capitalize;
						&:first-child {
							margin-right: 20px;
						}
						&.active {
							border: 1px solid #181a20;
							background: #fff;
							color: #181a20;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 500;
							line-height: 28px;
						}
					}
				}
			}
		}
		.trend-properties {
			position: relative;
			padding: 108px 0px 76px;
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: row;
			margin-top: 50px;
			.container {
				flex-direction: column;
				.left {
					position: relative;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					width: 737px;
					height: 137px;
					gap: 8px;
					margin-left: 180px;
					span {
						font-family: $fontPrimary;
						font-weight: 400;
						font-size: 50px;
						line-height: 62.5px;
						letter-spacing: 2%;
						text-align: center;
					}
					p {
						font-family: $font;
						font-weight: 400;
						font-size: 22px;
						line-height: 33px;
						letter-spacing: 1%;
						text-align: center;
					}
				}
				.card-box {
					position: relative;
					margin-top: 64px;
					display: flex;
					width: 100%;
					height: 100%;
					.line-one {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						width: 100%;
						height: 400px;
						.big-card {
							display: flex;
							align-items: center;
							justify-content: center;
							width: 47%;
							height: 350px;
							box-shadow: 5px 5px 10px #ddcfc2;
							border-radius: 50px;
							cursor: pointer;
							.big {
								width: 80%;
								height: 348px;
								border-radius: 40px;
							}
						}

						.small-card {
							display: flex;
							align-items: center;
							justify-content: center;
							width: 25%;
							max-height: 350px;
							// border: 0.5px solid #cda274;
							box-shadow: 5px 5px 10px #ddcfc2;
							border-radius: 40px;
							cursor: pointer;
							img {
								width: 100%;
								height: 200px;
								border-radius: 50px;
								object-fit: contain;
							}
						}
					}
					.line-two {
					}
				}
			}
		}
		.popular-properties {
			padding: 132px 0px 94px;
			width: 100%;
			height: 816px;
			display: flex;
			flex-direction: row;
			background: #f4f0ec;
			border-radius: 50px;
			margin-top: 80px;
			.container {
				flex-direction: column;
				align-items: center;
				.card-box {
					margin-top: 34px;
					width: 100%;
					height: auto;
					display: flex;
					flex-direction: row;
					.popular-property-swiper {
						width: 100%;
						height: 425px;
						display: flex;
						flex-direction: row;
						.popular-property-slide {
							width: auto;
							height: auto;
							display: flex;
							margin: 10px 0 10px 10px;
						}
					}
					.popular-card-box {
						position: relative;
						width: 400px;
						height: 425px;
						display: flex;
						flex-direction: column;
						transition: transform 0.3s, opacity 0.3s;

						&:hover {
							opacity: 1;
							transform: scale(1.05);
						}
						.card-img {
							position: relative;
							width: 100%;
							height: 203px;
							background-size: cover;
							border-radius: 30px 30px 0px 0px;
							cursor: pointer;
							div.status {
								position: absolute;
								padding: 6px 34px;
								left: 20px;
								top: 20px;
								display: flex;
								align-items: center;
								border-radius: 6px;
								background: #eb6753;
								img {
									width: 14px;
									height: 14px;
								}
								span {
									margin-left: 5px;
									color: #fff;
									font-family: $font;
									font-size: 12px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
									text-transform: uppercase;
								}
							}
							div.price {
								position: absolute;
								padding: 8px 12px;
								left: 20px;
								bottom: 20px;
								border-radius: 6px;
								background: #fff;
								color: #181a20;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
						}
						.info {
							padding: 20px 22px 17px;
							display: flex;
							flex-direction: column;
							box-sizing: border-box;
							border-radius: 0px 0px 30px 30px;
							border: 0px solid rgba(196, 196, 196, 0.71);
							border-top: none;
							background: #fff;
							box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
							.title {
								overflow: hidden;
								color: #181a20;
								text-overflow: ellipsis;
								white-space: nowrap;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								text-transform: capitalize;
								cursor: pointer;
							}
							.desc {
								margin-top: 5px;
								overflow: hidden;
								color: #717171;
								font-family: $font;
								font-size: 13px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
							.options {
								margin-top: 15px;
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								div {
									display: flex;
									flex-direction: row;
									img {
										margin-right: 5px;
										width: 17px;
										height: 17px;
									}
									span {
										color: #181a20;
										font-family: $font;
										font-size: 13px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
									}
								}
							}
							.bott {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-items: center;
								p {
									color: #181a20;
									font-family: $font;
									font-size: 13px;
									font-style: normal;
									font-weight: 500;
									line-height: normal;
									text-transform: capitalize;
								}
								button {
									margin-left: 7px;
									width: 16px;
									height: 16px;
									box-sizing: border-box;
								}
								.view-like-box {
									display: flex;
									flex-direction: row;
									gap: 7px;
									align-items: center;
									.view-cnt {
										color: #717171;
										font-family: $font;
										font-size: 13px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
										text-overflow: ellipsis;
									}
								}
							}
						}
					}
				}
				.pagination-box {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					.swiper-pagination-bullet.swiper-pagination-bullet-active {
						background: #000000;
					}
					.swiper-popular-next {
						margin-left: 20px;
						cursor: pointer;
					}
					.swiper-popular-prev {
						margin-right: 20px;
						cursor: pointer;
					}
				}
			}
		}
		.advertisement-frame {
			position: relative;
			display: flex;
			width: 1200px;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 100px;
			.ads-info {
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 472px;
				height: auto;
				.head-line {
					width: 420px;
					height: 189px;
					span {
						font-family: $fontPrimary;
						font-weight: 400;
						font-size: 50px;
						line-height: 62.5px;
						letter-spacing: 2%;
					}
				}
				.desc {
					width: 472px;
					height: auto;
					span {
						font-family: $font;
						font-weight: 400;
						font-size: 22px;
						line-height: 33px;
						letter-spacing: 1%;
					}
				}
				.btn {
					width: 238px;
					height: 75px;
					border-radius: 18px;
					background-color: #292f36;
					color: #ffffff;
					font-family: $font;
					font-weight: 600;
					line-height: 22px;
					letter-spacing: 2%;
					text-align: center;
					margin-bottom: 70px;
					img {
						width: 15px;
						margin-left: 10px;
					}
				}
			}
			.image {
				width: 653px;
				height: 700px;
			}
		}
		.top-properties {
			padding: 108px 0px 76px;
			width: 100%;
			height: 697px;
			display: flex;
			flex-direction: row;
			.container {
				flex-direction: column;
				.card-box {
					position: relative;
					margin-top: 64px;
					display: flex;
					flex-direction: row;
					.top-property-swiper {
						width: 100%;
						height: 400px;
						display: flex;
						flex-direction: row;
						.top-property-slide {
							width: auto;
							height: auto;
							display: flex;
							margin: 10px 0 0 10px;
						}
					}
					.top-card-box {
						position: relative;
						width: 300px;
						height: 375px;
						display: flex;
						flex-direction: column;
						transition: transform 0.3s;
						&:hover {
							opacity: 1;
							transform: scale(1.05);
						}
						.card-img {
							position: relative;
							width: 100%;
							height: 203px;
							background-size: cover;
							border-radius: 12px 12px 0px 0px;
							cursor: pointer;
							div {
								position: absolute;
								padding: 8px 12px;
								left: 12px;
								bottom: 12px;
								border-radius: 6px;
								background: #fff;
								color: #181a20;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
						}
						.info {
							padding: 20px 22px 17px;
							display: flex;
							flex-direction: column;
							box-sizing: border-box;
							border-radius: 0px 0px 12px 12px;
							border: 1px solid rgba(196, 196, 196, 0.71);
							border-top: none;
							background: #fff;
							box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
							.title {
								overflow: hidden;
								color: #181a20;
								text-overflow: ellipsis;
								white-space: nowrap;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								text-transform: capitalize;
								cursor: pointer;
							}
							.desc {
								margin-top: 5px;
								overflow: hidden;
								color: #717171;
								font-family: $font;
								font-size: 13px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
							.options {
								margin-top: 15px;
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								div {
									display: flex;
									flex-direction: row;
									img {
										margin-right: 5px;
										width: 17px;
										height: 17px;
									}
									span {
										color: #181a20;
										font-family: $font;
										font-size: 13px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
									}
								}
							}
							.bott {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-items: center;
								p {
									color: #181a20;
									font-family: $font;
									font-size: 13px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
									text-transform: capitalize;
								}
								button {
									margin-left: 7px;
									width: 16px;
									height: 16px;
									box-sizing: border-box;
								}
								.view-like-box {
									display: flex;
									flex-direction: row;
									gap: 7px;
									align-items: center;
									.view-cnt {
										color: #717171;
										font-family: $font;
										font-size: 13px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
										text-overflow: ellipsis;
									}
								}
							}
						}
					}
				}
			}
		}
		.top-agents {
			position: relative;
			// padding: 153px 0px 135px;
			width: 100%;
			height: 679px;
			display: flex;
			flex-direction: row;
			background: #f4f0ec;
			margin-top: 80px;
			border-radius: 60px;
			.container {
				position: relative;
				flex-direction: column;
				align-items: center;
				.head-box {
					width: 547px;
					height: 126px;
					text-align: center;
					margin-top: 30px;
					span {
						font-family: $fontPrimary;
						font-weight: 400;
						font-size: 50px;
						line-height: 62.5px;
						letter-spacing: 2%;
					}
				}
				.wrapper {
					width: 100%;
					margin-top: 83px;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					.switch-btn {
						width: 53px;
						height: 53px;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 50%;
						background: #ffffff;
						filter: drop-shadow(0px 10px 35px rgba(5, 16, 54, 0.1));
						cursor: pointer;
						svg {
							width: 14px;
							height: 14px;
						}
						&.swiper-agents-next {
							transform: rotate(180deg);
						}
					}
					.card-wrapper {
						width: 1174px;
						height: 339px;
						display: flex;
						flex-direction: row;
						.top-agents-swiper {
							width: 99.7%;
							height: 350px;
							display: flex;
							flex-direction: row;
							gap: 20px;
							.top-agents-slide {
								width: auto;
								height: auto;
								display: flex;
							}
							.comment-card {
								position: relative;
								display: flex;
								flex-direction: column;
								justify-content: center;
								align-items: center;
								width: 335px;
								height: 300px;
								background-color: #ffffff;
								border-radius: 30px;
								padding: 10px;
								margin-right: 15px;
								cursor: pointer;
								.person {
									position: relative;
									display: flex;
									flex-direction: row;
									width: auto;
									img {
										width: 77px;
										height: 77px;
										border-radius: 50%;
										object-fit: contain;
									}
									.person-info {
										position: relative;
										display: flex;
										flex-direction: column;
										margin-left: 10px;
										.person-name {
											font-family: $fontPrimary;
											font-weight: 400;
											font-size: 25px;
											line-height: 37.5px;
											letter-spacing: 1%;
										}
										.person-address {
											font-family: $font;
											font-weight: 400;
											font-size: 15px;
											line-height: 27px;
											letter-spacing: 1%;
										}
									}
								}
								.text {
									width: auto;
									height: 120px;
									overflow-y: scroll;
									margin-top: 20px;
									margin-left: 3px;
									span {
										font-family: $font;
										font-weight: 400;
										font-size: 18px;
										line-height: 30px;
										letter-spacing: 1%;
									}
								}
							}
						}
					}
				}
			}
		}
		.events {
			position: relative;
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 100px;
			gap: 40px;
			span {
				font-family: $fontPrimary;
				font-weight: 400;
				font-size: 50px;
				line-height: 62.5px;
				letter-spacing: 2%;
			}
			.container {
				position: relative;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				width: 100%;
				height: 102px;
				margin-top: 60px;
				cursor: pointer;
			}
		}
		.community-board {
			position: relative;
			padding: 124px 0px 61px;
			max-width: 1300px;
			height: 750px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 50px;
			.headline {
				position: relative;
				width: 811px;
				height: 141px;
				span {
					font-family: $fontPrimary;
					font-weight: 400;
					font-size: 50px;
					line-height: 62.5px;
					letter-spacing: 2%;
					text-align: center;
				}
			}
			.card-frame {
				width: 100%;
				height: auto;
				margin-top: 60px;
				position: relative;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				.article-swiper {
					width: 100%;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					.article-slide {
						width: auto;
						height: auto;
						display: flex;
					}
				}
				.card {
					position: relative;
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 382px;
					height: 450px;
					padding-bottom: 20px;
					border: solid 1px none;
					border-radius: 60px;
					background-color: #f4f0ec;
					margin-right: 23px;
					img {
						width: 340px;
						height: 249px;
						object-fit: cover;
						object-position: 0 100%;
						border-radius: 50px 50px 0 0;
						margin-bottom: 20px;
					}
					.title {
						width: 340px;
						height: 100px;
						margin-top: 30px;
						margin-left: 20px;
						gap: 20px;
						.article-title {
							width: 100%;
							display: flex;
							flex-direction: column;
							span {
								font-family: $fontPrimary;
								font-weight: 400;
								font-size: 25px;
								line-height: 31.25px;
								letter-spacing: 2%;
							}
							#author {
								font-family: $font;
								font-weight: 400;
								font-size: 17px;
								line-height: 33px;
								letter-spacing: 1%;
							}
						}
						.title-date {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							margin-top: 20px;
							font-size: 12px;
							img {
								width: 52px;
								height: 52px;
								margin-right: 20px;
							}
						}
					}
				}
			}
			.pagination-box {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				margin-top: 30px;
				margin-right: 27px;
				.swiper-pagination-bullet.swiper-pagination-bullet-active {
					background: #000000;
				}
				.swiper-community-next {
					margin-left: 20px;
					cursor: pointer;
				}
				.swiper-community-prev {
					margin-right: 20px;
					cursor: pointer;
				}
			}
		}
	}
}
